/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Eric Meyer Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Above this point is the Eric Meyer Reset, only edit below this point */

body {
	font-family: 'Roboto', sans-serif;
}

/* header background color and location of items */
header {
display: flex;
justify-content: space-between; 
align-items: center;
padding: 0;
margin: 0;
background-color: rgba(0, 0, 0, 0.85);
width: 100%;

}

header h1 {
	font-family: 'Kanit', sans-serif;
	padding: 20px;
	font-size: 24px;
	color: white;
}

header ul {
	display: flex;
	justify-content: right;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;

}

header li {
	/* adds a space between icons */
	margin-right: 1em;

}

#github:hover {
	/* adds a grey background color when hovering */
	background-color: rgba(255, 255, 255, 0.328);
	/* rounds the corners of the hover effect */
	border-radius: 5px;
}

#linkedIn:hover {
	/* adds LinkedIn blue background color when hovering */
	background-color: rgb(0, 119, 181);
	/* rounds the corners when hovering */
	border-radius: 5px;
}

/*  ! background image css, takes up whole width */
#fullWidthImage img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
	padding: 0%;
}

/* change fundamentals of about me section here */
.aboutMe {
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(255, 255, 255, 0.875);
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* change font of h2 in about me section here */
.aboutMe h2 {
	font-family: 'Kanit', sans-serif;
}

/* ! stops about me section touching the borders */
.aboutMeP {
	width: 80%;
}

